html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  float: none;
  overflow: hidden;
}

body:not(.hide-overlay) {
  overflow: hidden;
}

#viewDiv {
  z-index: -1;
}

#mainLogo {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 1.5em;
  margin-right: 1.5em;
  opacity: 0.9;
  cursor:pointer;
}

#toolBox {
  background-color: rgba(255, 0, 0, 0.5);
  margin-top: 15%;
  margin-left: 1em;
  height: 55%;
  width: 25%;
  border: solid;
  border-width: thick;
  position: absolute;
  z-index: 1;
}

#basemapTab {
  position: absolute;
  z-index: 1;
  height: 40%;
  opacity: 0.9;
  margin-top: 2em;
  margin-left: 2em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.overlay-content {
    position: relative;
    top: 7%;
    text-align: center;
    margin-top: 85px;
    color: white;
    overflow: scroll;
    /*word-wrap: break-word;*/
}



#aboutNav button {

  margin-bottom: 50px;
  margin-left: 0.5em;
  background-color: #e7e7e7; /* grey */
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.overlay-content img {
  width: 150px;
  height: 150px;
  /*padding-right: 20px;*/
  border-radius: 25px;
  padding-bottom: 10px;
}

.overlay-content h3 {
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.overlay-content h2 {
  margin-right: 1em;
  margin-left: 1em;
}

.overlay-content p {
  max-width: 50em;
  margin: auto;
  text-align: justify;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 75px;
}

/*ESRI dark theme CSS*/
/*.dark-theme .esri-widget,
    .dark-theme .esri-widget-button,
    .dark-theme .esri-menu,
    .dark-theme .esri-popup-main,
    .dark-theme .esri-popup .esri-pointer-direction,
    .dark-theme .esri-button {
      background-color: #242424;
      color: #bdbdbd;
    }

    .dark-theme .esri-widget-button:focus,
    .dark-theme .esri-widget-button:hover,
    .dark-theme .esri-menu li:focus,
    .dark-theme .esri-menu li:hover {
      background-color: #333;
      color: #d1d1d1;
    }

    .dark-theme .esri-button:focus,
    .dark-theme .esri-button:hover {
      color: #d1d1d1;
    }*/

@media screen and (max-height: 450px) {
  .overlay-content img {
    height: 75px;
    width: 75px;
  }
  .overlay-content p {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 2em;
    right: 2em;
}
