html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#mainLogo {
  z-index: 1;
  position: absolute;
  margin-top: 25px;
  margin-left: 91%;
  opacity: 0.9;
  cursor:pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;

}

#aboutNav button {

  margin-bottom: 50px;
}

.overlay-content img {
  width: 150px;
  height: 150px;
  /*padding-right: 20px;*/
  border-radius: 25px;
  padding-bottom: 10px;
}

.overlay-content h3 {
  padding-bottom: 10px;
}

.overlay-content p {
  width:700px;
  word-wrap: break-word;
  text-align: justify;
  margin: auto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
