/**************************************************
 * WELCOME to Beauty
 **************************************************/
/**************************************************
 * AUSTIN TRAFFIC INCIDENTS
 * by
 * Jason Bartling
 * Ian Kelly
 * Brandon Rose
 **************************************************/
html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /*font-family: 'Roboto', sans-serif;*/
  float: none;
  overflow: hidden;
}

body:not(.hide-overlay) {
  overflow: hidden;
}

#mainLogo {
  z-index: 3;
  position: absolute;
  left: 0;
  opacity: 0.9;
  cursor: pointer;
}

#activitySpinner {
  display: none;
  font-size: 7em;
  color: green;
  position: absolute;
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.esri-basemap-toggle {
  z-index: 0;
}

#toolBox {
  background-color: white;
  margin-top: 2em;
  margin-left: 1.5em;
  border: solid;
  border-width: 0px;
  position: absolute;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 0px 15px #272A28;
  z-index: 99;
}

#boxHeader {
  background-color: rgba(254, 227, 41, 1);
  color: rgba(53, 55, 53, 1);
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-right: 2em;
  padding-left: 2em;
  width: 28em;
  cursor: pointer;
}

#boxHeader:hover {
  background-color: #FDB109;
}

#boxHeader h2 {
  margin-left: 1.7em;
}

#headerInfo {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.4em;
  margin-right: 0.4em;
}

#lightModeLogo {
  position: absolute;
  z-index: 99;
  left: 0;
  margin-top: 0.5em;
  margin-left: 1.2em;
  width: 3.5em;
}

#darkModeLogo {
  display: none;
}

#infoButton {
  z-index: 1;
  color: #5B5B5B;
  background-color: #FFFFFF;
  padding: 0.4em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  margin-left: 0.85em;
  margin-bottom: 4.9em;
  box-shadow: 0px 0px 1px #272A28;
  cursor: pointer;
}

#infoButton:hover {
  background-color: #ECECEC;
}

#settingsButton {
  z-index: 1;
  color: #5B5B5B;
  background-color: #FFFFFF;
  padding: 0.4em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  margin-left: 0.85em;
  margin-bottom: 2.3em;
  box-shadow: 0px 0px 1px #272A28;
  cursor: pointer;
}

#settingsButton:hover {
  background-color: #ECECEC;
}

#settingsDiv {
  display: none;
	position: absolute;
  bottom: 0;
  margin-left: 5em;
  z-index: 99;
	background: white;
	border-radius: .4em;
  padding: 1em;
  margin-bottom: 2.3em;
  box-shadow: 0 0 15px #272A28;
  color: rgba(53, 55, 53, 1);
}

#settingsDiv input {
  margin-bottom: 1em !important;
  margin-top: 1em;
  cursor: pointer;
}

#settingsDiv label {
  cursor: pointer;
}

/*#infoLightButton {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 0.3em;
  margin-bottom: 4.8em;
  margin-left: 1em;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 1px red;
  cursor: pointer;
  font-size: 1.4em;
  color: #5B5B5B;
}

#infoLightButton:hover {
  box-shadow: 0px 0px 20px red;
}*/

/*#infoLightButtonHover {
  background-color: grey;
  opacity: 0;
  position: absolute;
  bottom: 0;
  z-index: 22;
  padding: 1.1em;
  margin-bottom: 4.8em;
  margin-left: 1em;
  cursor: pointer;
}

#infoLightButtonHover:hover {
  opacity: 0.2;
}*/
/*#infoLightIcon {
  width: 1.5em;
  fill: #5B5B5B;
}*/

/*#xinfoDarkIcon {
  display: none;
}*/

#boxMenu {
  width: 100%;
}

#boxContent {
  color: rgba(53, 55, 53, 1);
  height: 30em;
  width: 28em;
}

#esriLegend {
  margin-top: 5em;
  box-shadow: 0px 0px 4px #272A28;
}

#legendSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#legendSpinner:hover {
  background-color: #C1C1C1;
}

#searchSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#searchSpinner:hover {
  background-color: #C1C1C1;
}

#submitButton {
  margin-top: 1em;
  cursor: pointer;
}

#daysFromDate {
  width: 13em !important;
}

.esri-search {
  position: absolute;
  margin-left: 5em;
  margin-top: 9.5em;
  box-shadow: 0px 0px 4px #272A28;
}

#radiusOptions {
  margin-top: 2em;
}

#tableIcon {
  position: absolute;
  font-size: 3em;
  top: 0;
  margin-top: 8.5em;
  margin-left: -0.45em;
}

#tableLabel {
  position: absolute;
  margin-left: 7.6em;
  margin-top: 10em;
}

#searchLabel {
  position: absolute;
  margin-left: -4.5em;
  margin-top: 6em;
}

#locateResult {
  margin-top: 8em;
}

#locateSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#locateSpinner:hover {
  background-color: #C1C1C1;
}

/*.esri-icon-up {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: 0.8em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

.esri-icon-up:hover {
  background-color: #C1C1C1;
}*/

#legendClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#legendClose:hover {
  background-color: #C1C1C1;
}

#searchClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1.0em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#searchClose:hover {
  background-color: #C1C1C1;
}

#searchOptions {

}

#locateClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1.0em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#locateClose:hover {
  background-color: #C1C1C1;
}

#legendInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#legendInfo:hover {
  background-color: #C1C1C1;
}

#searchInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#searchInfo:hover {
  background-color: #C1C1C1;
}

#locateInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#locateInfo:hover {
  background-color: #C1C1C1;
}

.w3-display-bottom {
  margin-top: 16.4em;
  margin-left: -1em;
  position: absolute;
}

#basemapTab {
  position: absolute;
  z-index: 1;
  height: 40%;
  opacity: 0.9;
  margin-top: 2em;
  margin-left: 2em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay-content {
  position: relative;
  top: 2.5em;
  text-align: center;
  margin-top: 120px;
  color: white;
  overflow: scroll;
  word-wrap: break-word;
}

.overlay-content::-webkit-scrollbar {
  display: none;
}

#closeOverlay {
  float: right;
}

#aboutNav button {
  margin-bottom: 50px;
  margin-top: 5px;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: auto;
  z-index: 2;
}

#aboutButtons:hover {
  background-color: #C2C2C2;
}

.overlay-content img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.overlay-content h3 {
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.overlay-content h2 {
  margin-right: 1em;
  margin-left: 1em;
}

.overlay-content p {
  max-width: 50em;
  margin: auto;
  text-align: justify;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 40px;
}

.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 75px;
}

#lightFooter {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  z-index: 1;
  bottom: 0;
  margin-bottom: 1.3em;
  font-size: 0.75em;
  height: 1.2em;
  padding-left: 0.5em;
  color: #262626;
}

#lightFooter span {
  float: right;
  margin-right: 0.4em;
}

#darkFooter {
  display: none;
}

#searchOptions {

	text-align: center;
	margin-left: 0;
}

#daysFromDate {
	width: 50px;
}

.esri-home {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10.5em !important;
  margin-right: 0em !important;
}

.esri-locate {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 13.5em !important;
  margin-right: 0em !important;
}

.esri-scale-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 8em;
  margin-bottom: 3.5em;
}

.esri-expand {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 6.3em !important;
  margin-right: 0em !important;
}

.esri-zoom {
  margin-bottom: 1em !important;
  margin-right: 0em !important;
}

#closeSettings {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6em;
  cursor: pointer;
}

#closeSettings:hover {
  background-color: #C1C1C1;
}



/*ESRI dark theme CSS*/
/*.dark-theme .esri-widget,
    .dark-theme .esri-widget-button,
    .dark-theme .esri-menu,
    .dark-theme .esri-popup-main,
    .dark-theme .esri-popup .esri-pointer-direction,
    .dark-theme .esri-button {
      background-color: #242424;
      color: #bdbdbd;
    }

    .dark-theme .esri-widget-button:focus,
    .dark-theme .esri-widget-button:hover,
    .dark-theme .esri-menu li:focus,
    .dark-theme .esri-menu li:hover {
      background-color: #333;
      color: #d1d1d1;
    }

    .dark-theme .esri-button:focus,
    .dark-theme .esri-button:hover {
      color: #d1d1d1;
    }*/
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 450px) {

  .esri-expand__container--expanded {
    height: 10em !important;
    margin-top: 27em !important;
    width: 6.5em !important;
  }

  .overlay-content img {
    height: 90px;
    width: 90px;
    margin-top: -0.75em;
  }

  .overlay-content p {
    font-size: 16px
  }

  .overlay-content {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 60px;
  }

  #legendClose {
    margin-left: -1em !important;
  }

  #aboutNav button {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 0.9em;
  }

  #byLine {
    font-size: 1.1em;
  }

  #submitButton {
    margin-top: 0.5em;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0.10em;
    right: 0.5em;
  }

  #mainLogo {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5em;
    margin-bottom: 1.75em;
    opacity: 0.9;
    cursor: pointer;
    width: 75px;
    z-index: 1;
  }

  #mainLogo img {
    width: 75px;
    height: 75px;
  }

  #lightModeLogo {
    position: absolute;
    z-index: 99;
    left: 0;
    margin-top: 0em;
    margin-left: 2.1em;
    width: 3.5em;
  }

  #toolBox {
    margin: 0;
    width: 100%;
  }

  #boxHeader {
    width: 100%;
  }

  #boxHeader h2 {
    font-size: 1.5em;
  }

  #boxMenu {
    font-size: 12px;
  }

  /*#touchMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5em;
    margin-top: -4px;
    font-size: 2.5em;
    cursor: pointer;
  }*/
  #boxContent {
    width: 100%;
    z-index: 99 !important;
    height: 28em !important;
  }

  .w3-third {
    width: 33.3333% !important;
  }

  .w3-display-bottom {
    margin-top: 15em;
    margin-left: -1em;
    position: absolute;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 451px) and (max-width : 825px) {
  .overlay-content img {
    height: 90px;
    width: 90px;
    margin-top: -0.75em;
  }

  .overlay-content p {
    font-size: 16px
  }

  .overlay-content {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 60px;
  }

  .esri-ui .esri-popup {
    margin-top: 6em;
  }

  #aboutNav button {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 0.9em;
  }

  #byLine {
    font-size: 1.1em;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0.10em;
    right: 0.5em;
  }

  #mainLogo {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5em;
    margin-bottom: 1.75em;
    opacity: 0.9;
    cursor: pointer;
    width: 75px;
    z-index: 1;
  }

  #mainLogo img {
    width: 75px;
    height: 75px;
  }

  #toolBox {
    margin: 0;
    width: 100%;
  }

  #boxHeader {
    width: 100%;
    padding-top: 0.3em;
  }

  #boxHeader h2 {
    font-size: 1.5em;
    height: 1.1em;
    margin-top: -1px;
  }

  #lightModeLogo {
    margin-top: -0.9em;
    margin-left: 5em;
  }

  #boxMenu {
    font-size: 12px;
  }

  .w3-third {
    width: 33.3333% !important;
    height: 3em !important;
    margin-top: -0.3em;
  }



  .w3-display-bottom {
    margin-top: 15em;
    margin-left: -0.80em;
    position: absolute;
  }

  #boxContent {
    width: 100%;
    z-index: 99 !important;
    height: 20em !important;
  }

  #leftSearch {
    margin-left: -19em !important;
    margin-top: 1em;
  }

  #rightSearch {
    margin-right: -20em;
    margin-top: -12em;
  }



  .w3-button {
    margin-top: 0;
    bottom: 0;
    margin-bottom: 1em;
  }
}
