/**************************************************
 * WELCOME to Beauty
 **************************************************/
/**************************************************
 * AUSTIN TRAFFIC INCIDENTS
 * by
 * Jason Bartling
 * Ian Kelly
 * Brandon Rose
 **************************************************/
/**************************************************
  * Changes from Beauty
  * toolbox (background color)
  **************************************************/
html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /*font-family: 'Roboto', sans-serif !important;*/
  float: none;
  overflow: hidden;
}

body:not(.hide-overlay) {
  overflow: hidden;
}

#mainLogo {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 1.5em;
  margin-right: 1.5em;
  opacity: 0.9;
  cursor: pointer;
  z-index: 1;
}

.esri-basemap-toggle {
  z-index: 0;
}

#toolBox {
  background-color: none;
  margin-top: 2em;
  margin-left: 1.5em;
  border: solid;
  border-width: 0px;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 15px #149FEC;
  z-index: 99;
}

#headerInfo {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.4em;
  margin-right: 0.4em;
}




#legendSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#legendSpinner:hover {
  background-color: #151E1C;
}

#searchSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#searchSpinner:hover {
  background-color: #151E1C;
}

#submitButton {
  margin-top: 1em;
  cursor: pointer;
}

#locateSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.5em;
}

#locateSpinner:hover {
  background-color: #151E1C;
}

/*.esri-icon-up {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: 0.8em;
  padding: 0.5em;
  font-size: 1.7em !important;
  cursor: pointer;
}

.esri-icon-up:hover {
  background-color: #151E1C;
}*/

#legendClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1.0em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#legendClose:hover {
  background-color: #151E1C;
}

#searchClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1.0em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#searchClose:hover {
  background-color: #151E1C;
}

#locateClose {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: -1.0em;
  padding: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#locateClose:hover {
  background-color: #151E1C;
}

#legendInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#legendInfo:hover {
  background-color: #151E1C;
}

#searchInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#searchInfo:hover {
  background-color: #151E1C;
}

#locateInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  padding: 0.7em;
}

#locateInfo:hover {
  background-color: #151E1C;
}

#boxHeader {
  background-color: #2E2E30;
  color: #BBC2C6;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-right: 2em;
  padding-left: 2em;
  width: 28em;
  cursor: pointer;
}

#boxHeader:hover {
  background-color: #1E2128;
}

#boxHeader h2 {
  margin-left: 1.7em;
}

#darkModeLogo {
  position: absolute;
  z-index: 99;
  left: 0;
  margin-top: 0.5em;
  margin-left: 1.2em;
  width: 3.5em;
}

#lightModeLogo {
  display: none;
}

#infoButton {
  z-index: 1;
  color: #9D9D9D;
  background-color: #1B1B1B;
  padding: 0.4em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  margin-left: 0.85em;
  margin-bottom: 4.1em;
  box-shadow: 0px 0px 5px #149FEC;
  cursor: pointer;
}

#infoButton:hover {
  background-color: #262626;
}

#settingsButton {
  z-index: 1;
  color: #9D9D9D;
  background-color: #1B1B1B;
  padding: 0.4em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  margin-left: 0.85em;
  margin-bottom: 1.7em;
  box-shadow: 0px 0px 1px #149FEC;
  cursor: pointer;
}

#settingsButton:hover {
  background-color: #262626;
}

/*#settingsDiv {
  position: absolute;
  bottom: 0;
  margin-left: 6em;
  z-index: 99;
  background-color: #242424;
  padding: 2em;
}*/



#settingsDiv {
  display: none;
	position: absolute;
  bottom: 0;
  margin-left: 5em;
  z-index: 99;
	background: #2e2e30;
	border-radius: .4em;
  padding: 1em;
  margin-bottom: 2.3em;
  box-shadow: 0 0 15px #149FEC;
  color: #BBC2C6;
}

#settingsDiv input {
  margin-bottom: 1em !important;
  margin-top: 1em;
  cursor: pointer;
}

#settingsDiv label {
  cursor: pointer;
}

#applicationDiv {
  z-index: -99999 !important;
}





#boxMenu {
  width: 100%;
  background-color: #414141;
  color: #BBC2C6;
}

.w3-hover:hover {
  background-color: #182326;
}

#boxContent {
  color: #BBC2C6;
  height: 30em;
  width: 28em;
  background-color: #242424;
}

/*#legendInfo {
  width: 1.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}*/

/*#legendSpinner {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  padding: 1em;
  cursor: pointer;
}*/

.w3-display-bottom {
  margin-top: 16.4em;
  margin-left: -0.80em;
  position: absolute;
}

#basemapTab {
  position: absolute;
  z-index: 1;
  height: 40%;
  opacity: 0.9;
  margin-top: 2em;
  margin-left: 2em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay-content {
  position: relative;
  top: 2.5em;
  text-align: center;
  margin-top: 120px;
  color: white;
  overflow: scroll;
  word-wrap: break-word;
}

.overlay-content::-webkit-scrollbar {
  display: none;
}

#closeOverlay {
  float: right;
}


#aboutNav button {
  margin-bottom: 50px;
  margin-top: 5px;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: auto;
}

.overlay-content img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.overlay-content h3 {
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.overlay-content h2 {
  margin-right: 1em;
  margin-left: 1em;
}

.overlay-content p {
  max-width: 50em;
  margin: auto;
  text-align: justify;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 40px;
}

.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 75px;
}

#lightFooter {
  display: none;
}

#darkFooter {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  bottom: 0;
  padding-bottom: 1.3em;
  font-size: 0.75em;
  height: 2.4em;
  padding-left: 0.5em;
  color: #555555;
  display: none;
}

/*ESRI dark theme CSS*/
.dark-theme .esri-widget,
.dark-theme .esri-widget-button,
.dark-theme .esri-menu,
.dark-theme .esri-popup-main,
.dark-theme .esri-popup .esri-pointer-direction,
.dark-theme .esri-button {
  background-color: #242424;
  color: #bdbdbd;
}

.esri-basemap-toggle {
  color: black !important;
}

.dark-theme .esri-widget-button:focus,
.dark-theme .esri-widget-button:hover,
.dark-theme .esri-menu li:focus,
.dark-theme .esri-menu li:hover {
  background-color: #333;
  color: #d1d1d1;
}

.dark-theme .esri-button:focus,
.dark-theme .esri-button:hover {
  color: #d1d1d1;
}

.esri-basemap-toggle__title {
  color: ##3C3C3C;
  background-color: #1B1B1B;
}

/*change background color under basemap*/

.esri-view-root {
  background-color:black;
}

.esri-home {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10em !important;
  margin-right: 0em !important;
}

.esri-locate {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 13em !important;
  margin-right: 0em !important;
}

.esri-scale-bar {
  position: absolute;

  bottom: 0;
  right: 0;
  margin-right: 8em;
  margin-bottom: 3.5em;
}

.esri-expand {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5.3em !important;
  margin-right: 0em !important;
}

#closeSettings {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6em;
  cursor: pointer;
}

#closeSettings:hover {
  background-color: #151E1C;
}





/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 450px) {

  /*.esri-expand__container--expanded {
    height: 10em !important;
    margin-top: -10em !important;
    width: 10.3em !important;
  }*/

  .esri-expand__container {
    margin-top: 30em;
    height: 30%;
  }
  .esri-expand__container--expanded {
    margin-top: 30em !important;
    height: 19% !important;
    width: 22% !important;
  }



.esri-scale-bar {
  margin-left: 7.5em;
}

  .overlay-content img {
    height: 90px;
    width: 90px;
    margin-top: -0.75em;
  }

  .overlay-content p {
    font-size: 16px
  }

  .overlay-content {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 60px;
  }

  #submitButton {
    margin-top: 0.5em;
  }

  #legendClose {
    margin-left: -1.0em !important;
  }

  #aboutNav button {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 0.9em;
  }

  #byLine {
    font-size: 1.1em;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0.10em;
    right: 0.5em;
  }

  #mainLogo {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5em;
    margin-bottom: 1.75em;
    opacity: 0.9;
    cursor: pointer;
    width: 75px;
    z-index: 1;
  }

  #mainLogo img {
    width: 75px;
    height: 75px;
  }

  #darkModeLogo {
    position: absolute;
    z-index: 99;
    left: 0;
    margin-top: 0em;
    margin-left: 2.1em;
    width: 3.5em;
  }

  #toolBox {
    margin: 0;
    width: 100%;
  }

  #boxHeader {
    width: 100%;
  }

  #boxHeader h2 {
    font-size: 1.5em;
  }

  #boxMenu {
    font-size: 12px;
  }

  /*#touchMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5em;
    margin-top: -4px;
    font-size: 2.5em;
    cursor: pointer;
  }*/
  #boxContent {
    width: 100%;
    z-index: 99 !important;
    height: 28em !important;
  }



  .w3-third {
    width: 33.3333% !important;
  }

  .w3-display-bottom {
    margin-top: 15em;
    margin-left: -0.80em;
    position: absolute;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 451px) and (max-width : 825px) {
  .overlay-content img {
    height: 90px;
    width: 90px;
    margin-top: -0.75em;
  }

  .overlay-content p {
    font-size: 16px
  }

  .overlay-content {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 60px;
  }

  #aboutNav button {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 0.9em;
  }

  #byLine {
    font-size: 1.1em;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0.10em;
    right: 0.5em;
  }

  #mainLogo {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5em;
    margin-bottom: 1.75em;
    opacity: 0.9;
    cursor: pointer;
    width: 75px;
    z-index: 1;
  }

  #mainLogo img {
    width: 75px;
    height: 75px;
  }

  #toolBox {
    margin: 0;
    width: 100%;
  }

  #boxHeader {
    width: 100%;
    padding-top: 0.3em;
  }

  #boxHeader h2 {
    font-size: 1.5em;
    height: 1.1em;
    margin-top: -1px;
  }

  #darkModeLogo {
    margin-top: -0.9em;
    margin-left: 5em;
  }

  #boxMenu {
    font-size: 12px;
  }

  .w3-third {
    width: 33.3333% !important;
    height: 3em !important;
    margin-top: -0.3em;
  }

  .w3-display-bottom {
    margin-top: 15em;
    margin-left: -0.80em;
    position: absolute;
  }

  #boxContent {
    width: 100%;
    z-index: 99 !important;
    height: 20em !important;
  }

  #leftSearch {
    margin-left: -19em !important;
    margin-top: 1em;
  }

  #rightSearch {
    margin-right: -20em;
    margin-top: -12em;
  }

  #esriLegend {
    margin-top: -3em;
    width: 12em;
  }

  .w3-button {
    margin-top: 0;
    bottom: 0;
    margin-bottom: 1em;
  }
}
